<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Indonesia Game Portal | Best Online Game Portal In Indonesia</title>
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./js/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="./css/font-awesome/font-awesome.css">
</head>
<body>
<!-- Header Link -->
<div class="row">
    <div class="container-fluid header-link">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4 col-lg-push-8 link-head">
                    <div class="row">
                        <div class="col-lg-4">
                            <b><a href="">LANGUANGE : <span class="blued">EN</span></a></b>
                        </div>
                        <div class="col-lg-1">
                            <b><a href=""><span class="whited">/</span></a></b>
                        </div>
                        <div class="col-lg-2">
                            <b><a href="">GAME</a></b>
                        </div>
                        <div class="col-lg-1">
                            <b><span class="whited">/</span></b>
                        </div>
                        <div class="col-lg-4">
                            <b><a href="#registerModal" data-toggle="modal"
                                  data-target="#registerModal">MY ACCOUNT</a></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Link -->
<!-- Banner -->
<div class="container-fluid header-atas">
    <div class="row">
        <div class="container-fluid bg-blacked">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5">
                                <img src="./images/Logo.png" alt="" class="logo-top">
                                <div><input type="text" class="form-control search" placeholder="Search Other User">
                                </div>
                            </div>
                            <div class="col-lg-7 menu">
                                <div class="col-lg-6">
                                    <div class="whited f18 bold">INDO<span class="red">NESIA</span> GAME PORTAL</div>
                                    <div class="whited f12">BEST ONLINE GAME PORTAL</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <span class="fa fa-list-ol greened middled"
                                              style="font-size: 25pt;float:left"></span>
                                        <div class="whited-link bold" style="float: left;"><a id="centered-leaderboard"
                                                                                              href="#">LEADERBOARD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Menu  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-push-2">
            <div class="container-fluid menu-link klip">
                <ul class="col-lg-push-1 nav">
                    <li>
                        <a href="#" class="active">HOME</a>
                        <div>

                        </div>
                    </li>
                    <li>
                        <a href="#">FEATURED <span class="fa fa-arrow-down"></span></a>
                        <div>
                            <div class="nav-column">
                                <h3 class="whited">Featured Games</h3>
                                <ul>
                                    <li><a href="#">Dragon Run</a></li>
                                    <li><a href="#">Tetris</a></li>
                                    <li><a href="#">Mario Bros</a></li>
                                </ul>

                                <h3 class="whited">Genre</h3>
                                <ul>
                                    <li><a href="#">Adventure</a></li>
                                    <li><a href="#">Strategy</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#registerModal" data-toggle="modal"
                           data-target="#registerModal">REGISTER</a>
                        <div>

                        </div>
                    </li>
                </ul>
                <div class="col-lg-4 col-lg-push-5">
                    <div class="col-lg-2">
                        <a href="" class="socmed"><span class="fa fa-facebook"></span></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="" class="socmed"><span class="fa fa-twitter"></span></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="" class="socmed"><span class="fa fa-google-plus"></span></a>
                    </div>
                    <div class="col-lg-2 col-lg-push-1 whited">
                        <a href="#" class="btn-blued"><span class="fa fa-bars"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
`
</div>
<!-- End Menu -->
<!-- Caorusel -->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <center><img src="" alt=""></center>
                    <h1>DRAGON RUN</h1>
                    <h3 class="bold">HOW FAR YOU CAN <span class="greened">CONTROL THE DRAGON </span>AND <span
                            class="greened">CHASE YOUR BEST SCORE?</span></h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">Play Now ! <span class="fa fa-gamepad"></span>
                </button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>TETRIS</h1>
                    <h3 class="bold">ROTATE, MOVE, AND DROP THE FALLING <span class="greened">TETRIMINOS</span> INSIDE
                        THE MATRIX</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">Play Now ! <span class="fa fa-gamepad"></span>
                </button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>MARIO BROS</h1>
                    <h3 class="bold">GAINS POINTS BY <span class="greened">DEFEATING MULTIPLE ENEMIES</span>
                        CONSECUTIVELY AND CAN <span class="greened">PARTICIPATE IN A BONUS ROUND</span> TO GAIN MORE
                        POINTS</h3>
                </hgroup>
                <button class="btn btn-warning btn-lg" role="button" disabled>Cooming Soon! <span
                        class="fa fa-gamepad"></span></button>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#bs-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#bs-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!-- End Carousel -->

<!-- Main Title -->
<div class="row">
    <div class="container">
        <div class="col-lg-8">
            <div class="col-lg-12 box-bordered bordered-blue-side">
                <ul class="col-lg-push-1 nav">
                    <li>
                        <a href="#" class="link-game"><span class="nav-title">FEATURED GAMES <span
                                class="fa fa-star"></span></span></a>
                    </li>
                    <li>
                        <a href="#" class="link-game">ALL</span></a>
                    </li>
                    <li>
                        <a href="#" class="link-game">ADVENTURE</span></a>
                    </li>
                    <li>
                        <a href="#" class="link-game">STRATEGY</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12 box-bordered centered bold f10 bordered-blue-side" style="height: 60px">
                <a href="#" class="link-game">LEADERBOARD : </a>
                <a href="#" class="link-game blued">TETRIS <span class="fa fa-arrow-down"></span></a>
            </div>
        </div>
    </div>
</div>

<!-- End Main Title -->

<div class="row">
    <div class="container">

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-12 box-bordered">
                        <img src="./images/game/game (1).png" class="overlay-game-image game-image" alt="">
                        <div class="title bold whited"><span class="text"> MINESWEEPER </span></div>
                        <!--					<div>&nbsp;</div>-->
                        <div>
                            <button type="button" data-toggle="modal" data-load-url="remote.html"
                                    data-target="#myModal1" class="btn btn-success play-btn"><span
                                    class="fa fa-gamepad"></span></button>
                        </div>
                        <div class="whited f8 text-game">Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam, quis
                            nostrud en derum sum laborem.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12 box-bordered">
                        <img src="./images/game/game (2).png" class="overlay-game-image game-image" alt="">
                        <div class="title bold whited"><span class="text"> DRAGON RUN </span></div>
                        <div>
                            <button type="button" data-toggle="modal" data-load-url="remote.html"
                                    data-target="#myModal2" class="btn btn-success play-btn"><span
                                    class="fa fa-gamepad"></span></button>
                        </div>
                        <div class="whited f8 text-game">Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam, quis
                            nostrud en derum sum laborem.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-12 box-bordered">
                        <img src="./images/game/game (3).png" class="overlay-game-image game-image" alt="">
                        <div class="title bold whited"><span class="text"> TETRIS </span></div>
                        <div>
                            <button type="button" data-toggle="modal" data-load-url="remote.html"
                                    data-target="#myModal3" class="btn btn-success play-btn"><span
                                    class="fa fa-gamepad"></span></button>
                        </div>
                        <div class="whited f8 text-game">Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam, quis
                            nostrud en derum sum laborem.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12 box-bordered">
                        <img src="./images/game/game (4).png" class="overlay-game-image game-image" alt="">
                        <div class="title bold whited"><span class="text"> MARIOBROS </span></div>
                        <div>
                            <button type="button" data-toggle="modal" data-load-url="remote.html"
                                    data-target="#myModal4" class="btn btn-success play-btn"><span
                                    class="fa fa-gamepad"></span></button>
                        </div>
                        <div class="whited f8 text-game">Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam, quis
                            nostrud en derum sum laborem.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12 table table-dark">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Point</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">01</th>
                        <td>Ujang</td>
                        <td>9000</td>
                    </tr>
                    <tr>
                        <th scope="row">02</th>
                        <td>Rahmat</td>
                        <td>8700</td>
                    </tr>
                    <tr>
                        <th scope="row">03</th>
                        <td>Banew</td>
                        <td>6000</td>
                    </tr>
                    <tr>
                        <th scope="row">04</th>
                        <td>Ramjes</td>
                        <td>5000</td>
                    </tr>
                    <tr>
                        <th scope="row">05</th>
                        <td>Usep</td>
                        <td>4000</td>
                    </tr>
                    <tr>
                        <th scope="row">06</th>
                        <td>Dadan</td>
                        <td>3000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-4">
                <div class="socmed-box fb whited">
                    <div class="col-lg-12"><span class="fa fa-facebook whited bold"></span></div>
                    Like Our Facebook Page
                    <div class="col-lg-12"><a href="#"><span class="fa fa-thumbs-up whited bold"></span></a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="socmed-box tw whited">
                    <div class="col-lg-12"><span class="fa fa-twitter whited bold"></span></div>
                    Follow Us On Twitter
                    <div class="col-lg-12"><a href="#"><span class="fa fa-plus-circle whited bold"></span></a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="socmed-box rss whited">
                    <div class="col-lg-12"><span class="fa fa-rss whited bold"></span></div>
                    Subscribe To Our RSS
                    <div class="col-lg-12"><a href="#"><span class="fa fa-envelope whited bold"></span></a></div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="container">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="pagination whited">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid footer">
        <div class="col-lg-3 footer-box">
            <div class="col-lg-6">
                <img src="./images/Logo.png" alt="" class="logo-Bottom">
            </div>
            <div class="col-lg-6 text-logo-bot">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div class="whited f10 bold">INDO<span class="red">NESIA</span></div>
                <div class="whited">
                    </span> GAME PORTAL
                </div>
            </div>
            <div class="col-lg-12 f8 whited">
                Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt uten labore et
                dolore magna aliqua. Ut enim ad minim veniam.
            </div>
            <div class="col-lg-12 f8 whited center-block">
                <div>&nbsp;</div>
                <span class="fa fa-envelope success f12"> CONTACT US</span><br>
                <a href=""><span>info@indonesiagp.com</span></a>
            </div>
        </div>
        <div class="col-lg-3 whited">
            <div>&nbsp;</div>
            <div class="whited text-center f12 bold">FEATURED NEWS</div>
            <div class="col-lg-12 box-footer">
                <div class="col-lg-5"><img src="./images/news1.png" alt=""></div>
                <div class="col-lg-7">
                    <a href=""><span class="text">MORTAL KOMBAT</span></a>
                    <span class="f8">Lorem Ipsum Dolor Sit Amet Complitier</span>
                </div>
            </div>
            <div class="col-lg-12 box-footer">
                <div class="col-lg-5"><img src="./images/news2.png" alt=""></div>
                <div class="col-lg-7">
                    <a href=""><span class="text">ANGRY BIRDS</span></a>
                    <span class="f8">Lorem Ipsum Dolor Sit Amet Complitier</span>
                </div>
            </div>
            <div class="col-lg-12 box-footer">
                <div class="col-lg-5"><img src="./images/news3.png" alt=""></div>
                <div class="col-lg-7">
                    <a href=""><span class="text">HOME SWEET</span></a>
                    <span class="f8">Lorem Ipsum Dolor Sit Amet Complitier</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 whited">
            <div>&nbsp;</div>
            <div class="whited text-center f12 bold">TOP GAMES</div>
            <div class="col-lg-12 box-footer">
                <div class="col-lg-5"><img src="./images/games1.png" alt=""></div>
                <div class="col-lg-7">
                    <a href=""><span class="text">CONTRA REBORN</span></a>
                    <span class="f8">Lorem Ipsum Dolor Sit Amet Complitier</span>
                </div>
            </div>
            <div class="col-lg-12 box-footer">
                <div class="col-lg-5"><img src="./images/games2.png" alt=""></div>
                <div class="col-lg-7">
                    <a href=""><span class="text">TANK WAR IIII</span></a>
                    <span class="f8">Lorem Ipsum Dolor Sit Amet Complitier</span>
                </div>
            </div>
            <div class="col-lg-12 box-footer">
                <div class="col-lg-5"><img src="./images/games3.png" alt=""></div>
                <div class="col-lg-7">
                    <a href=""><span class="text">FLAPPY BIRDS</span></a>
                    <span class="f8">Lorem Ipsum Dolor Sit Amet Complitier</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 whited">
            <div>&nbsp;</div>
            <div class="whited text-center f12 bold">QUICK CONTACT</div>
            <div class="col-lg-12 box-footer">
                <span class="f8">Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor.</span>
            </div>
            <div class="col-lg-12 box-footer">
                <input type="text" placeholder="Your Email Adress ... " class="form-control">
            </div>
            <div class="col-lg-12 box-footer">
                <textarea name="" id="" cols="20" rows="5" class="form-control" placeholder="Your Message"></textarea>
            </div>
            <div class="col-lg-12 box-footer text-center">
                <button class="btn btn-success">SEND</button>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="container">
        <div class="col-lg-12 centered copyright whited">
            DESIGNED BY : BRILLIAN FAHMI | 2019 ALL RIGHT RESERVED
        </div>
    </div>
</div>

<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">MINESWEEPER</h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-9">
                    <div class="game-board">
                        <span class="vertical-center bold">LOADING . . .</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-12 table table-dark">
                        <table class="table table-game-rank">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Point</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">01</th>
                                <td>Ujang</td>
                                <td>9000</td>
                            </tr>
                            <tr>
                                <th scope="row">02</th>
                                <td>Rahmat</td>
                                <td>8700</td>
                            </tr>
                            <tr>
                                <th scope="row">03</th>
                                <td>Banew</td>
                                <td>6000</td>
                            </tr>
                            <tr>
                                <th scope="row">04</th>
                                <td>Ramjes</td>
                                <td>5000</td>
                            </tr>
                            <tr>
                                <th scope="row">05</th>
                                <td>Usep</td>
                                <td>4000</td>
                            </tr>
                            <tr>
                                <th scope="row">06</th>
                                <td>Dadan</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <th scope="row">07</th>
                                <td>Breakersz</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <th scope="row">08</th>
                                <td>Weebo</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <th scope="row">09</th>
                                <td>Cheesse</td>
                                <td>500</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DRAGON RUN</h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-9">
                    <div class="game-board">
                        <span class="vertical-center bold">LOADING . . .</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-12 table table-dark">
                        <table class="table table-game-rank">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Point</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">01</th>
                                <td>Ujang</td>
                                <td>9000</td>
                            </tr>
                            <tr>
                                <th scope="row">02</th>
                                <td>Rahmat</td>
                                <td>8700</td>
                            </tr>
                            <tr>
                                <th scope="row">03</th>
                                <td>Banew</td>
                                <td>6000</td>
                            </tr>
                            <tr>
                                <th scope="row">04</th>
                                <td>Ramjes</td>
                                <td>5000</td>
                            </tr>
                            <tr>
                                <th scope="row">05</th>
                                <td>Usep</td>
                                <td>4000</td>
                            </tr>
                            <tr>
                                <th scope="row">06</th>
                                <td>Dadan</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <th scope="row">07</th>
                                <td>Breakersz</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <th scope="row">08</th>
                                <td>Weebo</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <th scope="row">09</th>
                                <td>Cheesse</td>
                                <td>500</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>Yossi</td>
                                <td>100</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TETRIS</h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-9">
                    <div class="game-board">
                        <span class="vertical-center bold">LOADING . . .</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-12 table table-dark">
                        <table class="table table-game-rank">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Point</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">01</th>
                                <td>Ujang</td>
                                <td>9000</td>
                            </tr>
                            <tr>
                                <th scope="row">02</th>
                                <td>Rahmat</td>
                                <td>8700</td>
                            </tr>
                            <tr>
                                <th scope="row">03</th>
                                <td>Banew</td>
                                <td>6000</td>
                            </tr>
                            <tr>
                                <th scope="row">04</th>
                                <td>Ramjes</td>
                                <td>5000</td>
                            </tr>
                            <tr>
                                <th scope="row">05</th>
                                <td>Usep</td>
                                <td>4000</td>
                            </tr>
                            <tr>
                                <th scope="row">06</th>
                                <td>Dadan</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <th scope="row">07</th>
                                <td>Breakersz</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <th scope="row">08</th>
                                <td>Weebo</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <th scope="row">09</th>
                                <td>Cheesse</td>
                                <td>500</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>Yossi</td>
                                <td>100</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">MARIO BROS</h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-9">
                    <div class="game-board">
                        <span class="vertical-center bold">LOADING . . .</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-12 table table-dark">
                        <table class="table table-game-rank">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Point</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">01</th>
                                <td>Ujang</td>
                                <td>9000</td>
                            </tr>
                            <tr>
                                <th scope="row">02</th>
                                <td>Rahmat</td>
                                <td>8700</td>
                            </tr>
                            <tr>
                                <th scope="row">03</th>
                                <td>Banew</td>
                                <td>6000</td>
                            </tr>
                            <tr>
                                <th scope="row">04</th>
                                <td>Ramjes</td>
                                <td>5000</td>
                            </tr>
                            <tr>
                                <th scope="row">05</th>
                                <td>Usep</td>
                                <td>4000</td>
                            </tr>
                            <tr>
                                <th scope="row">06</th>
                                <td>Dadan</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <th scope="row">07</th>
                                <td>Breakersz</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <th scope="row">08</th>
                                <td>Weebo</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <th scope="row">09</th>
                                <td>Cheesse</td>
                                <td>500</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>Yossi</td>
                                <td>100</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="registerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg-custom">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body row">
                <div class="col-lg-12">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="col-lg-6">
                    <img src="./images/register-bg.png" alt="" class="logo-top bg-register">
                    <img src="./images/Logo.png" alt="" class="logo-top logo-register">
                    <span class="register-text f10">DONT HAVE AN ACCOUNT ? <span
                            class="yellowed">REGISTER FOR FREE</span> TO ENJOY ALL OUR GAMES!</span>
                </div>
                <div class="col-lg-6 row">
                    <form class="form-horizontal" action="#">
                        <h3 class="text-center">REGISTER</h3>
                        <div class="form-group">
                            <label class="control-label col-sm-4" >Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" >Username:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" >Email:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control"  placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" >Password:</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control"  placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" >Retype Password:</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control"  placeholder="Retype Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" >Date Of Birth:</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control"  placeholder="Date Of Birth">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" >Phone Number:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="pwd">Profile Picture:</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="pwd" placeholder="Profile Picture">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-md btn-info">Login</button>
                                <button type="button" class="btn btn-md btn-success">Create Your Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="./js/jquery/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/jquery-ui/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./css/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function () {
        $(".left").click(function () {
            $("#myCarousel").carousel("prev");
        });
    });
</script>
</body>
</html>
